[submodule "insight-atmosphere-nature-geoscience"]
	path = insight-atmosphere-nature-geoscience
	url = git@github.com:aymeric-spiga/insight-atmosphere-nature-geoscience.git
[submodule "dd"]
	path = dd
	url = git@github.com:aymeric-spiga/dd.git
